*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* :root {

} */

html, body {
  height: 100%;
  background: linear-gradient(to bottom right, #f6d7c7, #ee7678);
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  margin: 20px;
  height: 100%;
  overflow: auto;
}

main::-webkit-scrollbar {
  display: none;
}

h2 {
  margin: 20px 20px 0 20px;
}

button {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid rgb(229, 152, 248);
  background-color: rgb(235, 174, 251);
  margin: 20px;
  align-self: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: rgb(239, 204, 248);
}

button.clicked {
  animation: buttonClick 0.3s;
}

.tableHolder {
  align-self: center;
  margin-bottom: 20px;
}

.dataCell {
  border: 3px solid white;
  padding: 3px;
}

.dataCell:not(:first-child) {
  border-top: none;
}

p {
  padding: 3px;
}

@keyframes buttonClick {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}



