*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --first-gradient-col: #f6d7c7;
  --second-gradient-col: #ee7678;
  --default-margins: 20px;
  --button-border-col: rgb(229, 152, 248);
  --button-bg-col: rgb(235, 174, 251);
  --button-hover-col: rgb(239, 204, 248);
  --default-padding: 3px;
  --button-border-rad: 4px;
}

html, body {
  height: 100%;
  background: linear-gradient(to bottom right, var(--first-gradient-col), var(--second-gradient-col));
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  margin: var(--default-margins);
  height: 100%;
  overflow: auto;
}

main::-webkit-scrollbar {
  display: none;
}

h2 {
  margin: var(--default-margins) var(--default-margins) 0 var(--default-margins);
}

button {
  padding: calc(var(--default-padding) * 3);
  border-radius: var(--button-border-rad);
  border: 1px solid var(--button-border-col);
  background-color: var(--button-bg-col);
  margin: var(--default-margins);
  align-self: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: var(--button-hover-col);
}

button.clicked {
  animation: buttonClick 0.3s;
}

p {
  padding: var(--default-padding);
}

/* Dynamic Content (Contact Info Table) */
.tableHolder {
  align-self: center;
  margin-bottom: var(--default-margins);
}

.dataCell {
  border: 3px solid white;
  padding: var(--default-padding);
}

.dataCell:not(:first-child) {
  border-top: none;
}

/* Animation on button click */
@keyframes buttonClick {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}



